$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$background: #eee;
$borders: darken($background, 20%);
$accent: red;
$wells: #fff;
$fonts: black;
body {
    overflow-x: hidden;
    max-width: 100vw;
    background: $background;
    background: -moz-linear-gradient(left, #e5eaca 0%, #dddddd 50%);
    background: -webkit-linear-gradient(left, #e5eaca 0%, #dddddd 50%);
    background: linear-gradient(to right, #e5eaca 0%, #dddddd 50%);
}

a:hover {
    text-decoration: none !important;
}

#o-parent {
    width: 100%;
    display: inline-block;
    #o {
        font-size: 6vw;
        width: 100%;
        display: inline-block;
        position: relative;
        border: 5px solid $borders;
        color: $fonts;
        font-family: courier;
        text-align: left;
        padding: 0.3em 0;
        background: $wells;
        v {
            color: $accent;
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                border: 0.35em solid $borders;
                width: 5px;
                background: inherit;
                top: 0;
                border-left: none;
                border-right: none;
                border-bottom-width: 0.35em;
                margin-left: 0.25em;
            }
        }
    }
}

.progress {
    height: 3px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: $borders;
    border-radius: 4px;
    .progress-bar {}
}

#reader {
    position: relative;
    .animated.fadeOutUp {
        pointer-events: none;
        position: absolute;
    }
}

.no-width {
    width: 0;
    height: 0;
    float: left;
    overflow: hidden;
}

.transition-all {
    transition: all 0.5s ease;
}

.holder-3d {
    transform-style: preserve-3d;
    perspective: 1500px;
}

.left-door {
    transform: rotateY(45deg) scaleX(1.6);
    transform-origin: 0 50%;
    opacity: 0.5;
    font-size: 0.5em;
    * {
        pointer-events: none;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0;
}

.story-card {
    background: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid darken($background, 20%);
    border-bottom: 3px solid darken($background, 15%);
    border-radius: 5px;
    text-align: center;
    animation-duration: 500ms;
    anmation-durection: both;
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 0.2s ease;
    .label {
        background: darken($background, 20%);
        position: absolute;
        bottom: 0;
        border-radius: 0;
        &.label-reads {
            left: 0;
        }
        &.label-choices {
            right: 0;
        }
        .badge {
            margin: 1px;
        }
    }
    .title {
        font-family: 'Patrick Hand', Arial, sans-serif;
        font-size: 1.9em;
        text-decoration: none !important;
        &:first-letter {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.curtain {
    height: 100%;
    width: 50%;
    background: darken($background, 20%);
    position: absolute;
    top: 0;
    left: 0;
    animation: slideOutLeft 0.5s 1s ease both;
    z-index: 1;
    &.curtain-after {
        right: 0;
        left: auto;
        animation: slideOutRight 0.5s 1s ease both;
    }
}

input.ng-invalid-maxlength,
textarea.ng-invalid-maxlength {
    color: $accent;
}

.btn {
    border-bottom-width: 4px;
    box-shadow: 0 2px 6px -1px darken($background, 25%);
    transition: all 0.25s ease;
    white-space: normal;
    margin-bottom: 15px;
}

.button-icon {
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
    float: left;
}

#feedback-bar {
    position: fixed;
    bottom: 0em;
    font-size: 6em;
    .feedback {
        position: absolute;
        bottom: 0;
    }
}

#back-svg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    /*background: $background;*/
    pointer-events: none;
    transform: translateZ(-2000px);
    line {
        stroke-width: 5px;
        stroke: lighten($background, 80%);
        stroke-dasharray: 150 350 150 225 125 1000;
        animation: moving 10s linear infinite;
    }
}

@keyframes moving {
    from {
        stroke-dashoffset: -1000;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

#library-holder {
    z-index: 10;
}

.meme-viewer {
    text-align: center;
    width: 100%;
    .meme-holder {
        position: relative;
        display: inline-block;
        .meme-text {
            position: absolute;
            color: white;
            font-weight: bold;
            left: 0;
            width: 100%;
            padding: 0.5em 18px;
            line-height: 1.25em;
            text-shadow: 0 1px 0 black, 1px 0 0 black, 0 -1px 0 black, -1px 0 0 black;
        }
        .meme-text-top {
            top: 0;
        }
        .meme-text-bottom {
            bottom: 5px;
        }
    }
}

.meme-maker {
    .meme-thumb-holder {
        background: black;
    }
    .meme-thumb {
        display: inline-block;
        min-height: 100px;
        width: 100%;
        height: 100%;
        background-size: cover !important;
    }
}

#sharing-holder {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: auto;
    max-width: 100%;
    cursor: default;
    text-align: right;
    float: right;
}

.input-range {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-width: 11em;
    margin-bottom: 2em;
}

.input-range input[type="range"] {
    flex-grow: 1;
    line-height: 1;
    height: 2em;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-range input[type="range"]:focus {
    outline: none;
}

.input-range input[type="range"]::-moz-focus-inner {
    border: 0;
}

.input-range.yolo {
    box-shadow: 0 0 0 0.25em darken($background, 10%);
    border-radius: 2em;
    padding: 0.5em;
    background: $background;
    font-size: 1.4vw;
    .label {
        color: #A8A8A8;
        font-size: 2.1em;
        position: absolute;
        top: 0;
        font-weight: bold;
        pointer-events: none;
        opacity: 0.5;
    }
    input[type="range"] {
        margin: 0;
        border-right: 5px solid darken($background, 10%);
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 2em;
        height: 2em;
        margin-top: -0.5em;
        cursor: pointer;
        background-color: $brand-primary;
        border-radius: 2em;
        -webkit-appearance: none;
        box-shadow: 0 0 0 5px $brand-primary;
        z-index: 2;
    }
    input[type="range"]::-moz-range-thumb {
        width: 2em;
        height: 2em;
        margin-top: -0.5em;
        cursor: pointer;
        background-color: $brand-primary;
        border-radius: 2em;
        -webkit-appearance: none;
        box-shadow: 0 0 0 5px $brand-primary;
        z-index: 2;
    }
    input[type="range"]::-ms-thumb {
        width: 2em;
        height: 2em;
        margin-top: -0.5em;
        cursor: pointer;
        background-color: $brand-primary;
        border-radius: 2em;
        -webkit-appearance: none;
        box-shadow: 0 0 0 5px $brand-primary;
        z-index: 2;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        height: 1em;
        border-radius: 0.2em;
    }
    input[type="range"]::-moz-range-track {
        height: 1em;
        border-radius: 0.2em;
    }
    input[type="range"]::-ms-track {
        height: 1em;
        border-radius: 0.2em;
    }
    .value-display {
        min-width: 7.85em;
        text-align: right;
        font-size: 1.4em;
    }
}

.page-icon {
    position: absolute;
    top: 0.25em;
    left: 0.35em;
    font-size: 0.65em;
}

.heart {
    color: darken($background, 20%);
    &.hearted {
        color: #FF568E;
    }
}

.heart-holder {
    display: inline-block;
    position: relative;
    z-index: 9;
    &.hearted .top-heart {
        color: #FF568E;
    }
    &.animated .top-heart {
        transition: 2.5s 0.5s ease color;
    }
    .top-heart {
        position: relative;
        z-index: 1;
        color: darken($background, 20%);
    }
    .anim-heart-holder {
        position: absolute;
        left: 0.25em;
        top: -1.2em;
        pointer-events: none;
        font-size: 0.7em;
        height: 4em;
        .rotate-holder {
            width: 4em;
        }
    }
    .faller {
        color: $brand-primary;
        position: absolute;
        font-size: 0.5em;
        top: 1em;
        height: 3em;
    }
}

.wait-vertical {
    animation: vertical_1277 6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes vertical_1277 {
    0% {
        transform: translate(0, -9px)
    }
    5.55556% {
        transform: translate(0, 9px)
    }
    11.11111% {
        transform: translate(0, -9px)
    }
    16.66667% {
        transform: translate(0, 9px)
    }
    22.22222% {
        transform: translate(0, -9px)
    }
    27.77778% {
        transform: translate(0, 9px)
    }
    30.55556% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

.nudge-up {
    position: relative;
    top: -10px;
}

.nudge-front {
    position: relative;
    z-index: 10;
}

.vertical-text {
    transform: rotate(-90deg) translateX(-8.9em);
    transform-origin: center center 0;
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

.inline-col {
    display: inline-block;
    float: none;
}
