$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$background: #eee;
$borders: darken($background, 20%);
$accent: red;
$wells: #fff;
$fonts: black;
body {
    background: $background;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none !important;
}

#o-parent {
    width: 100%;
    display: inline-block;
    #o {
        font-size: 6vw;
        width: 100%;
        display: inline-block;
        position: relative;
        border: 5px solid $borders;
        color: $fonts;
        font-family: courier;
        text-align: left;
        padding: 0.3em 0;
        background: $wells;
        v {
            color: $accent;
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                border: 0.35em solid $borders;
                width: 5px;
                background: inherit;
                top: 0;
                border-left: none;
                border-right: none;
                border-bottom-width: 0.35em;
                margin-left: 0.25em;
            }
        }
    }
    .progress {
        height: 3px;
        .progress-bar {}
    }
}

#reader {
    .animated.fadeOutUp {
        pointer-events: none;
        position: absolute;
    }
}

.no-width {
    width: 0;
    height: 0;
    float: left;
    overflow: hidden;
}

.transition-all {
    transition: all 0.5s ease;
}

.holder-3d {
    transform-style: preserve-3d;
    perspective: 1500px;
}

.left-door {
    transform: rotateY(45deg) scaleX(1.6);
    transform-origin: 0 50%;
    opacity: 0.5;
    * {
        pointer-events: none;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0;
}

.grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 1%;
    @media screen and (max-width: 760px) {
        grid-template-columns: 49% 49%;
    }
}

.story-card {
    background: white;
    padding: 5px;
    margin-bottom: 5px;
    border: 5px solid darken($background, 20%);
    border-radius: 5px;
    text-align: center;
    animation-duration: 500ms;
    anmation-durection: both;
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 0.2s ease;
    .label {
        background: darken($background, 20%);
        position: absolute;
        bottom: 0;
        border-radius: 0;
        &.label-reads {
            left: 0;
        }
        &.label-choices {
            right: 0;
        }
    }
    .title {
        font-family: 'Covered By Your Grace', Arial, sans-serif;
        font-size: 1.9em;
        text-decoration: none !important;
        &:first-letter {
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.curtain {
    height: 100%;
    width: 50%;
    background: darken($background, 20%);
    position: absolute;
    top: 0;
    left: 0;
    animation: slideOutLeft 0.5s 1s ease both;
    z-index: 1;
    &.curtain-after {
        right: 0;
        left: auto;
        animation: slideOutRight 0.5s 1s ease both;
    }
}

input.ng-invalid-maxlength,
textarea.ng-invalid-maxlength {
    color: $accent;
}

.btn {
    border-bottom-width: 4px;
    box-shadow: 0 2px 6px -1px darken($background, 25%);
    transition: all 0.25s ease;
    white-space: normal;
    margin-bottom: 15px;
}

.button-icon {
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
    float: left;
}

#feedback-bar {
    position: fixed;
    bottom: 0em;
    font-size: 6em;
    .feedback {
        position: absolute;
        bottom: 0;
    }
}

#back-svg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background: $background;
    pointer-events: none;
    transform: translateZ(-2000px);
    line {
        stroke-width: 5px;
        stroke: lighten($background, 30%);
        stroke-dasharray: 150 350 150 225 125 1000;
        animation: moving 10s linear infinite;
    }
}

@keyframes moving {
    from {
        stroke-dashoffset: -1000;
    }
    to {
        stroke-dashoffset: 1000;
    }
}

#library-holder{
    z-index: 10;
}
