<div id="add-choice">
    <div ng-if="user.loaded">
        <h1 ng-if="!story">Add Choice</h1>
        <h1 ng-if="story">New Story</h1>
        <br/>
        <form class="form" ng-submit="addChoice()">
            <div class="form-group">
                <label class="pull-right" ng-class="{'text-info': acCtrl.action.length < params.maxTitle, 'text-warning': acCtrl.action.length == params.maxTitle, 'hide': !acCtrl.action.length}">{{acCtrl.action.length || 0}} / {{params.maxTitle}}</label>
                <label ng-if="!story">Choice Text</label>
                <label ng-if="story">Title</label>
                <input required ng-model="acCtrl.action" class="form-control" type="text" ng-trim="false" ng-maxlength="params.maxTitle" />
            </div>
            <div class="form-group">
                <label class="pull-right" ng-class="{'text-info': acCtrl.text.length < params.maxPage, 'text-warning': acCtrl.text.length == params.maxPage, 'hide': !acCtrl.text.length}">{{acCtrl.text.length || 0}} / {{params.maxPage}}</label>
                <label ng-if="!story">What Happens Next?</label>
                <label ng-if="story">First Page</label>
                <textarea required ng-model="acCtrl.text" class="form-control" rows="6" ng-maxlength="params.maxPage"></textarea>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="acCtrl.endImage" /> End with a meme?
                </label>
            </div>
            <div class="form-group" ng-if="acCtrl.endImage">
                <div class="row text-center">
                    <div style="height: 20vh; overflow-y:scroll" ng-class="{ 'col-xs-6' : acCtrl.background, 'col-xs-12': !acCtrl.background}">
                        <h4>Select Background...</h4>
                        <div class="thumbnail pull-left" ng-click="acCtrl.background = img" ng-repeat="img in acCtrl.memes">
                            <div class="img" style="height: 55px; width: 55px;" ng-style="{background: 'url(http://www.troll.me/images/'+img+'/thumb.jpg) center center no-repeat'} ">
                                <!--                                 <div class="caption">
                                    <p>{{img}}</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div ng-class="{ 'col-xs-6' : acCtrl.background, 'hide': !acCtrl.background}">
                        <div ng-if="acCtrl.background">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Top Text" ng-maxlength="params.maxTitle" />
                            </div>
                            <img class="thumbnail img-responsive" ng-src="http://www.troll.me/images/{{acCtrl.background}}/{{acCtrl.background}}.jpg" />
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Top Text" ng-maxlength="params.maxTitle" />
                            </div>
                        </div>
                        <div ng-if="!acCtrl.background" class="well">
                            <h4>Select an Image&hellip;</h4>
                        </div>
                    </div>
                </div>
            </div>
            <button ng-disabled="sending" type="submit" class="btn btn-lg btn-success btn-block">
                <i class="fa fa-plus button-icon" aria-hidden="true"></i> Add Choice
            </button>
        </form>
    </div>
    <div ng-if="!user.loaded">
        <br/>
        <h3>Identify Yourself:</h3>
        <div id="firebaseui-auth-container"></div>
    </div>
</div>
