<h3 class="pull-right">
	<a href="/#!/library" >
		<span class="fa fa-book"></span>
	</a>
</h3>
<a ng-if="page && page.id !== page.story" href="/#!/page/{{page.story}}">
		Start Story Over
	</a>
<br/>
</br/>
<reader></reader>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bottom Page -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7699323664930736" data-ad-slot="1951703401" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/>
<br/>
