<h3 class="pull-right">
	<a href="/#!/library" >
		<span class="fa fa-book"></span>
	</a>
</h3>
<div id="sharing-holder" class="socialshares hide" data-icononly>
    Share the Story:
    <div class="socialshares-twitter animated bounceIn" style="animation-delay: 200ms"></div>
    <!-- <div class="socialshares-facebook animated bounceIn" style="animation-delay: 400ms"></div> -->
    <div class="socialshares-email animated bounceIn" style="animation-delay: 400ms"></div>
    <div class="socialshares-more animated bounceIn" style="animation-delay: 800ms"></div>
    <!-- Other buttons here... -->
</div>
<br/>
<br/>
<reader></reader>
<br/>
<br/>
<!-- <a ng-if="page && page.id !== page.story" href="/#!/page/{{page.story}}">Start Over</a> -->
<div style="position:fixed; bottom: 3vh; left: 0; width: 100%;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Bottom Page -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7699323664930736" data-ad-slot="1951703401" data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
