<div>
    <div class="row">
        <div ng-class="{'col-md-12': !rCtrl.adding, 'col-md-8': rCtrl.adding}">
            <div id="reader" class="animated zoomIn">
                <div id="o-parent">
                    <div id="o" class="animated">&nbsp;</div>
                    <br/>
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" ng-style="{width: progress + '%'}"></div>
                    </div>
                </div>
                <div id="options" ng-if="rCtrl.choosing">
                    <div ng-if="!rCtrl.adding">
                        <div ng-if="page.choices.length">
                            <h2>What next?</h2>
                        </div>
                        <br/>
                        <div class="row" ng-if="page.choices">
                            <div class="col-xs-6 animated slideInLeft option-holder">
                                <a href="/#!/page/{{c.id}}" class="btn btn-lg btn-block btn-success" ng-repeat="c in page.choices track by $index" ng-if="($index + 1) % 2 != 0"> {{c.action}} </a>
                            </div>
                            <div class="col-xs-6 animated slideInRight option-holder">
                                <a href="/#!/page/{{c.id}}" class="btn btn-lg btn-block btn-success" ng-repeat="c in page.choices track by $index" ng-if="($index + 1) % 2 == 0"> {{c.action}} </a>
                            </div>
                        </div>
                        <div ng-if="!page.choices.length">
                            <h2>The Story Ends Here&hellip;</h2>
                        </div>
                    </div>
                    <div ng-if="rCtrl.adding">
                        <div class="animated slideInLeft">
                            <h5>Current Page:</h5>
                            <h4>{{page.text}}</h4>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-primary btn-block" ng-click="p()">
                                    <i class="fa fa-repeat button-icon" aria-hidden="true"></i>Read Again</button>
                            </div>
                            <div class="col-xs-6">
                                <div class="btn btn-info btn-block" ng-class="{'btn-warning': rCtrl.adding}" ng-click="rCtrl.adding = !rCtrl.adding">
                                    <span ng-if="rCtrl.adding">
                                    <i class="fa fa-ban button-icon" aria-hidden="true"></i>
                                    Hide New </span>
                                    <span ng-if="!rCtrl.adding">
                                        <i class="fa fa-pencil button-icon" aria-hidden="true"></i>
                                    Add </span> Choice
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div ng-show="rCtrl.adding" class="col-md-4">
            <add-choice class="animated slideInRight"></add-choice>
        </div>
    </div>
</div>
